:root {
  --font-family: "Arial", sans-serif;
  --primary-color: #000000;
  --background-color: #ffffff;
  --text-color: #000000;

  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  text-align: center;
  font-size: 2em;
  color: var(--primary-color);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}
