:root {
  --font-family: "Arial", sans-serif;
  --primary-color: #000000;
  --background-color: #ffffff;
  --text-color: #000000;

  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 2em;
  color: var(--primary-color);
}

.grid-cell {
  width: 32px;
  height: 32px;
  background: #8b4513;
  border: 1px solid #3d1f09;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  background: rgb(255, 255, 255);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid black;
}
